@import url('https://fonts.googleapis.com/css2?family=Lato:wght@400;700&family=Oswald:wght@700&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
/* font-family: 'Archivo Narrow', sans-serif;
font-family: 'Roboto', sans-serif; */
html{
    scroll-behavior: smooth;
}
body{
    font-size: 16px;
    font-family: 'Roboto', sans-serif;
}

h1,h2,h3,h4,h5,h6,p{
    margin: 8px 0;
}
a{
    text-decoration: none;
}
img{
    width: 100%;
}
p{
    font-family: 'Montserrat', sans-serif;
}


/* nav css */
.nav-item a{
    text-decoration: none;
    color: black;
    font-size: 14px;
    font-weight: 600;
    text-transform: uppercase;
    margin-right: 15px;
    transition: 0.5s;
    font-family: 'Montserrat', sans-serif;
}
.nav-item a:hover{
    color: rgb(20, 219, 20);
}
.navbar-brand{
    height: 50px;
    width: 100px;
}
.search{
    height: 45px;
    outline: none;
    border: 2px solid rgb(20, 219, 20);
    background-color: transparent;
    border-radius: 20px 0px 0px 20px;
    border-right: none;
    box-shadow: none;
}
.btn1{
    height: 45px;
    outline: none;
    border: none;
    background-color: rgb(20, 219, 20);
    color: white;
    border-radius: 0px 20px 20px 0px;
    transition: 0.5s;
}
.btn1:hover{
    background-color: rgb(20, 172, 20);
}
.bi-bag-check{
    font-size: 30px;
    color: black;
    cursor: pointer;
    padding-top: 5px;
    transition: 0.5s;
}
.bi-bag-check:hover{
    color: rgb(20, 172, 20);
}
.navbar-toggler{
    font-size: 23px;
    color: black;
}
.navbar-toggler:hover{
    outline: none;
    box-shadow: none;
}
.main{
    background: url(img/m1.jpg)no-repeat;
    background-size: cover;
    height: 100vh;
    width: 100%;
}
.main h1{
    font-size: 5rem;
    font-family: 'Righteous', cursive;
}
.main p:nth-child(1){
    font-size: 18px;
    font-weight: 500;
    padding-top: 100px;
}
.main p:nth-child(2){
    font-size: 18px;
    color: grey;
}
.mbtn1{
    height: 50px;
    width: 25%;
    outline: none;
    border: none;
    color: #fff;
    background: rgb(20, 219, 20);
    border-radius: 50px;
    transition: .5s;
}
.mbtn1:hover{
    background-color: rgb(20, 172, 20);
}
.mbtn2{
    height: 50px;
    width: 25%;
    outline: none;
    background-color: transparent;
    color: rgb(20, 219, 20);
    border: 1px solid rgb(20, 219, 20);
    border-radius: 50px;
    transition: .5s;
}
.mbtn2:hover{
    background-color: rgb(20, 219, 20);
    border: none;
    color: #fff;
}
.line{
    height: 6px;
    width: 30%;
    background-color: rgb(20, 219, 20);
    display: inline-block;
}

.about{
    background: url(img/abut.jpg)no-repeat;
    background-size: cover;
    height: 90vh;
    width: 100%;
}
.about h1{
    font-size: 3rem;
    font-weight: bold;
}
.about p:nth-child(1){
    font-size: 18px;
    font-weight: 500;
    padding-top: 100px;
}
.about p:nth-child(2){
    font-size: 18px;
    color: grey;
}
.welcome{
    background-color: rgb(20, 219, 20);
}
.line1{
    height: 6px;
    width: 30%;
    background-color: #fff;
    display: inline-block;
}
.welcome h1{
    font-size: 3rem;
    font-weight: bold;
}
.welcome .card{
    border: none;
    border-radius: 0;
}
.welcome i{
    font-size: 45px;
    color: rgb(20, 219, 20);
}
.welcome h2{
    font-weight: lighter;
    padding: 10px 0px;
}
.product h1{
    font-size: 3rem;
    font-weight: bold;
}
.product p:nth-child(1){
    font-size: 18px;
    font-weight: 500;
    padding-top: 100px;
}
.product p:nth-child(2){
    font-size: 18px;
    color: grey;
}
.star{
    text-align: end;
    color: orange;
}
.product .card-body{
    border: none;
    border-radius: 0;
    cursor: pointer;
}
.product .card-body{
    border: 1px dashed rgb(175, 172, 172);
}
.head1{
    font-weight: 400;
    margin: 0;
}
.per1{
    color: rgb(168, 162, 162);
}
.btnc{
    height: 50px;
    width: 50%;
    outline: none;
    border: none;
    color: #fff;
    background: rgb(20, 219, 20);
    border-radius: 50px;
    margin: 0 auto;
    display: block;
    transition: .5s;
}
.btnc:hover{
    outline: none;
    border: 1px solid rgb(20, 219, 20);
    color: rgb(20, 219, 20);
    background: transparent;
    border-radius: 50px;
}

.discount{
    background: rgb(20, 219, 20);
    color: #fff;
}
.dbtn{
    height: 50px;
    width: 75%;
    outline: none;
    border: none;
    color: black;
    background-color: #fff;
    border-radius: 50px;
    margin: 0 auto;
    display: block;
    font-weight: lighter;
    transition: .5s;
}
.dbtn:hover{
    background-color: rgb(228, 228, 228)
}

.store h1{
    font-size: 3rem;
    font-weight: bold;
}
.store p:nth-child(1){
    font-size: 18px;
    font-weight: 500;
}
.store p:nth-child(2){
    font-size: 18px;
    color: grey;
}
.store i{
    font-size: 45px;
}
.store .card{
    border-radius: 0;
    border: none;
    transition: .5s;
    cursor: pointer;
}
.store .card:hover{
    background-color: rgb(20, 219, 20);
    color: #fff;
}
.store .card:hover .per1{
    color: #fff;
}
.seller h1{
    font-size: 3rem;
    font-weight: bold;
}
.seller i{
    color: orange;
}
.seller .card{
    border-radius: 0;
    border: none;
}
.contact{
    background: url(img/cont.jpg)no-repeat;
    background-size: cover;
    width: 100%;
}
.contact h1{
    font-size: 3rem;
    font-weight: bold;
    color: white;
}
.contact p{
    color: #fff;
}
.circle{
    height: 60px;
    width: 60px;
    border-radius: 50%;
    background-color: white;
    color: black;
    text-align: center;
    padding-top: 15px;
    font-size: 18px;
}
.contact input{
    height: 40px;
    width: 100%;
    border: none;
    outline: none;
    background-color: #fff;
    margin-top: 10px;
    padding: 10px;
}
.contact textarea{
    height: 100px;
    width: 100%;
    border: none;
    outline: none;
    background-color: #fff;
    margin-top: 10px;
    padding: 10px;
}
.cbtn{
    height: 50px;
    width: 65%;
    outline: none;
    border: none;
    color: black;
    background: white;
    border-radius: 50px;
    font-weight: lighter;
    transition: .5s;
}
.cbtn:hover{
    background: rgb(61, 58, 58);
}
.footer{
    background: gray;
}
.sl{
    height: 40px;
    width: 40px;
    background-color: transparent;
    border: 1px solid white;
    color: white;
    border-radius: 50%;
    display: inline-block;
    text-align: center;
    padding-top: 9px;
    margin-left: 10px;
    transition: .5s;
    cursor: pointer;
}
.sl:hover{
    background-color: rgb(20, 219, 20);
    border: none;
}
,footer{
    color: rgb(20, 219, 20);
}
/* 
font-family: 'Lato', sans-serif;
font-family: 'Oswald', sans-serif;
font-family: 'Righteous', cursive;
font-family: 'Montserrat', sans-serif;
*/